body,html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

h1,h2,h4,a,.person {
    font-family: 'Fraunces', serif;
}

header {
    background-image: url('./images/desktop/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
}

.logo {
    position: relative;
    top: 20px;
    left: 20px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

nav > ul > li {
    margin: 20px;
}

#contact {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Fraunces', serif; 
    text-transform: uppercase;
}

#contact:hover {
    background-color: hsl(206, 100%, 93%);
}

#contact > a {
    text-decoration: none;
    color: black
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    text-transform:uppercase;
    margin: 50px auto;
    text-align: center;
}

.arrow {
    position: relative;
    left: 50%;
}

.transform {
    display: flex;
}

.text {
    margin: 150px;
    line-height: 2rem;
}

.text > p {
    color: hsl(232, 10%, 55%);
}

.text > a {
    text-transform: uppercase;
    color: black;
}

#learn-transform {
    text-decoration: underline 5px hsl(7, 99%, 70%);
}

#learn-transform:hover {
    text-decoration: underline 5px hsl(51, 100%, 49%);
}

#learn-audience:hover {
    text-decoration: underline 5px hsl(7, 99%, 70%);
}

#learn-audience {
    text-decoration: underline 5px hsl(51, 100%, 49%);
}

.audience {
    display: flex;
   
}

.text-in-picture{
    display: flex;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-in-picture > div:nth-child(1) {
    background-image: url("./images/desktop/image-graphic-design.jpg");  
    width: 50%;
}   

.text-in-picture > div:nth-child(2) {
    background-image: url("./images/desktop/image-photography.jpg");
    width: 50%;
}

.description > h4 {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
}

.description {
    padding-top: 400px;
}

.description > h4, 
.description > p {
    margin: 10px 200px 0px 200px;
    text-align: center;
    line-height: 2rem;
    color: hsl(213, 9%, 39%);
}

.testimonials > h4 {
    color: hsl(210, 4%, 67%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 100px 100px 50px 100px;
}

.single-testimonials {
    display: flex;
    justify-content: space-around;
    padding-left:180px;
    padding-right: 180px;
}

.picture-row {
    display: flex;
}

.picture-row > img {
    width: 25%;
}

section {
    text-align: center;
    color: hsl(213, 9%, 39%);
    padding-left: 50px;
}

.quote {
    line-height: 2rem;
}

.person {
    color: black;
    margin: 50px 0 5px 0;
}

.role {
    color: hsl(210, 4%, 67%);
    margin: 5px 0 100px 0;
}

section > img {
    border-radius: 50%;
}

footer {
    background-color: hsl(167, 41%, 67%);
}

footer > svg {
    position: relative;
    left: 46%;
    margin: 50px 0px 0px;
}

footer > ul {
    list-style-type: none;
    margin: 0;
    color: hsl(168, 34%, 41%);
    display: flex;
    justify-content: center;
}

footer > ul > li {
    margin: 50px 30px 50px 0px;
}

.social-media-buttons > svg{
    position: relative;
    left: 43%;
    margin: 0px 15px 50px;
}
